<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/about.png" alt="hassanss" class="img-fluid" title="Hassan Qayyum" >
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to the Weatherly App</p>
              <h1>I Am A <span class="text_clr">Full Stack Developer.</span>  who works with both the front and back ends of a website or application.  </h1>
              <a href="https://www.facebook.com/hassan.sheikh.5264382/" target="_blank"><button>About me</button></a>
            </div> 
            <!-- Right side div  -->
          </div>          
        </div>
      </div> 
    </div>
    <!-- Footer Code     -->
    {{>footer}}
  </body>
</html>
